body {
  font-family: 'Arial';
}

.btn-redirect {
  padding: 15px 35px 15px 35px;
  background-color: rgb(40, 40, 47);
  color: aliceblue;
}

.form-signin {
  text-align: center;
  width: 100%;
  max-width: 45%;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  text-align: left;
}

.form-signin .form-control {
  margin-bottom: 4px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"], .form-signin input[type="password"] {
  border-radius: 0;
  margin-bottom: 15px;
}

.mb-4 {
  margin-top: 20px;
}

.x-voltar, .x-voltar:hover {
  float: right;
  color: #000;
  text-decoration: none;
  font-size: medium;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: small;
}

a:hover {
  text-decoration: none;
  color: rgb(94, 200, 241);
}

#a-senha {
  color: black;
  text-decoration: underline;
}

#a-senha:hover {
  color: rgb(56, 170, 28);
  text-decoration: none;
}

label {
  float: left;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: bold;
}

#forgot-1 {
  padding: 20px;
  height: 90px;
  background-color: rgb(227, 232, 235);
}

.btn-cancel {
  float: left;
}

p {
  margin-top: 10px;
  float: right;
  color: #000;
  font-size: small;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icone2 {
  bottom: 67%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#x-retornar {
  float: right;
  color: grey;
  font-weight: bold;
}

h1 {
  margin: 50px 0px 15px 0px;
  color: grey;
  text-align: center;
}

.form-2 {
  height: 400px;
  width: 400px;
  border-radius: 6px;
  background-color: white;
}

#form-interno {
  padding: 12px 20px 10px 20px;
}

.botao-2 {
  border-radius: 5px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  border-color: rgb(214, 211, 211);
  margin-bottom: 0;
  margin-top: 0;
}

#a-senha2 {
  color: rgb(33, 173, 228);
  text-decoration: none;
}

#forgot-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(228, 236, 241);
}

